body
{
    margin: 0;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header
{
    margin: 0%;
    width: 100%;
    height: 10%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.671); 
    overflow: hidden;
}
.logo
{
    width: 20%;
    margin: 1% 2%;
    height: 70%;
    display: inline-block;
}
.logo img
{
    height: 100%;
    margin: 2% 20%;
}
.links
{
    width: 40%;
    display:inline-flex;
    vertical-align: top;
    margin: 3% 3%;
    justify-content: center;
}
.links a{
    text-align: center;
    margin: 0% 6%;
    font-size: 18px;
    text-decoration: none;
    color: whitesmoke
}
.users
{
    text-align: right;
    width: 20%;
        margin:1% 4%;
        height: 60%;
        display: inline-block;
}
.users img
{
    height: 50px;
    width: 50px;
    margin: 2%;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(245, 245, 245, 0.541);
}
.main
{
    height: 50%;
    width: 100%;
    background-color: whitesmoke;
    margin: 0%;
    overflow: hidden;
}
.main h1
{
    text-align: center;
    font-size: 29px;
}
.main h2
{
    font-size: 16px;
    text-align: center;
    margin: 2px;
    opacity: 0.5;
    font-family: sans-serif;
    letter-spacing: 2px; 
}
.center button
{
    height: 40px;
    width: 20%;
    border-radius: 20px;
    outline: none;
    border:2px solid rgb(179, 29, 179);
    background-color: rgba(146, 7, 146, 0.226);
    font-size: 14px;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    margin: 5% auto;
}
.center a
{
    text-decoration: none;
    color: rgb(179, 29, 179);
    font-size: 16px;
}
.center
{
    text-align: center;
    width: 60%;
    margin: 10% auto;
}
.features
{
    width: 100%;
    background-color: blanchedalmond;
    text-align: center;
    height: auto;
}
.box
{
    height: auto;
    width: 22%;
    background-color: rgba(245, 245, 245, 0.397);
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.329);
    display: inline-block;
    margin: 2% 1%;
}
.box img
{
    border: 1px solid firebrick;
    height: 50px;
    border-radius: 50%;
}
.box h3
{
    color: purple;
}
.box p
{
    text-align: justify;
    opacity: 0.7;
    width: 90%;
    margin: 2px auto;
}
.box a
{
    text-decoration: none;
}
.info
{
    background-color: whitesmoke;
    margin: 0%;
    text-align: center;
    overflow: hidden;
}
.card
{
    height: auto;
    width: 30%;
    background-color: white;
    border-radius: 5px;
    display: inline-block;
    margin: 2% 1%;
}
.card h3
{
    color: green;
    letter-spacing: 1px;
}
.card p
{
    color: purple;
     opacity: 0.6;
     font-size: 33px;
}
footer
{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: center     ;
    overflow: hidden;
}
.left{
    width: 48%;
    height: auto;
    display: inline-block;
}
.left h3
{
    color:rgb(182, 10, 182);
    font-size: 22px;
}
.left a
{
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px 15%;
    text-align: left;
}
.right
{

    display: inline-block;
    width: 48%;
}
.right form
{
    border: 1px solid purple;
    border-radius: 5px;
    width: 70%;
    margin: 2% auto;
}
.right form h2
{
    color: rgb(179, 29, 179);
}
.right input
{
    width: 80%;
    margin:2% auto;
    height: 30px;
    border: none;
    color: white;
    font-size: 16px;
    background: none;
    border-bottom: 2px solid purple;
    outline: none;
}
.right textarea
{
    width: 80%;
        margin: 2% auto;
        height: 70px;
        border: none;
        color: white;
        font-size: 16px;
        background: none;
        border-bottom: 2px solid purple;
        outline: none;
}
.right button
{
    height: 40px;
    width: 30%;
    border-radius: 20px;
    border: none;
    background-color: rgb(184, 90, 184);
    color: white;
    font-size: 18px;
    margin: 20px auto;
}
.social img
{
    height: 60px;
    margin: 10px 20px;
    border-radius: 50%;
    display: inline;
}